<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Rate My Starter - A PokéRogue tool</title>
  <link rel="stylesheet" href="/styles.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet" />
  <meta name="description" content="Rate My Starter is a tool for the PokéRogue community to evaluate and rate the available Pokémon. Discover the best starters and contribute to the community database." />
  <meta name="keywords" content="Pokémon, PokéRogue, Rate My Starter, Pokémon evaluation, best starters, Pokémon ranking, Pokémon community, PokéRogue tools" />
  <meta name="author" content="PokéRogue Community" />
  <meta property="og:title" content="Rate My Starter - A tool to evaluate your Pokémon" />
  <meta property="og:description" content="Discover the best Pokémon starters for PokéRogue and contribute to the community database." />
  <meta property="og:image" content="/images/logo.png" />
  <meta property="og:url" content="https://akrelia.github.io/PokerogueRater/" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Rate My Starter - A tool to evaluate your Pokémon" />
  <meta name="twitter:description" content="Discover the best Pokémon starters for PokéRogue and contribute to the community database." />
  <meta name="twitter:image" content="/images/logo.png" />
</head>