<nav>
  <div class="title-container">
    <a href="index.html" class="site-title-link">
      <span class="site-name">Rate My Starter</span>
      <img src="images/gts.png" alt="GTS" class="gts-icon" />
    </a>
  </div>
  <div class="language-selector">
    <select onchange="changeLanguage()">
      <option value="en" selected>🇬🇧 English</option>
      <option value="fr">🇫🇷 Français</option>
      <option value="de">🇩🇪 Deutsch</option>
      <option value="ja">🇯🇵 日本語</option>
    </select>
  </div>
</nav>

<div class="search-container">
  <button id="hall-of-fame">
    <img src="images/hof-icon.png" alt="Ball Icon" style="width: 20px; height: 20px; margin-right: 4px; vertical-align: middle;" />
    <span>Hall of Fame</span>
  </button>
  <button id="random-unrated-pokemon">
    <img src="images/ball.png" alt="Ball Icon" style="width: 20px; height: 20px; margin-right: 4px; vertical-align: middle;" />
    <span>Random Starter</span>
  </button>
  <div class="vertical-separator">&nbsp;</div>
  <div class="search-box">
    <input type="text" id="pokemon-search" autocomplete="off" placeholder="Search for a Starter..." />
    <div class="suggestions"></div>
  </div>
</div>